In [18]:
import cobra

In [19]:
from cobra import Model,Reaction,Metabolite

In [20]:
model=Model('Exercise1')
#### v1 : A=====> B ###

v1=Reaction('v1')
v1.name='V1'
v1.lower_bound=0
v1.upper_bound=1000

#### v2 : B=====> c ###


v2=Reaction('v2')
v2.name='V2'
v2.lower_bound=0
v2.upper_bound=1000

In [21]:
###### R1 : =====> A ###

R1=Reaction('R1')
R1.name='R1'
R1.lower_bound=1
R1.upper_bound=1

In [22]:
###### L : C=====>  ####


L=Reaction('L')
L.name='L'
L.lower_bound=0
L.upper_bound=1000

In [23]:
###### R2 : A=====>r  ####

R2=Reaction('R2')
R2.name='R2'
R2.lower_bound=0
R2.upper_bound=1000

In [24]:
###### R3: r=====>  ####

R3=Reaction('R3')
R3.name='R3'
R3.lower_bound=0
R3.upper_bound=1000

In [25]:
A= Metabolite(
    'A',compartment='c')
B=Metabolite(
    'B',compartment='c')
C= Metabolite(
    'C',compartment='c')

In [26]:
ATP= Metabolite(
    'ATP',compartment='c')

In [27]:
### Add metaolites in Reactions v1,v2,R1,R2,R3,L###


v1.add_metabolites({A:-1,B:1})


v2.add_metabolites({B:-1,C:1})

In [28]:
R1.add_metabolites({A:1})
L.add_metabolites({C:-1})

In [29]:
R2.add_metabolites({A:-1,ATP:1})

In [30]:
R3.add_metabolites({ATP:-1})

In [31]:
###### Add reactions in model  #########
model.add_reactions([R1,v1,R2,v2,R3,L])

In [32]:
###### Put L as a objective function  ###################################

model.objective = 'L'

In [33]:
model.optimize()

In [34]:
model.summary()